.signup-container,
.login-container {
    padding: 0 80px;
  width: 400px;
  height: 540px;
  background-color: white;
  border-radius: 8px;

    >div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.username-input, .password-input, .fullname-input{
    display: block;
    padding: 1em 12em 1em 1em;
}

.username-input,.fullname-input{
    border-radius: 8px 8px 0 0;
    border-bottom: 0px;
}

.password-input{
    border-radius: 0 0 8px 8px;
}

.login-btn,.login-guest-btn,.signup-btn{
    margin: 20px;
    max-width: 343px;

}

.move-to-signup, .move-to-login{
    color: black;
    display: block;
    text-align: center;
    font-size: 1.2em;
}

.login-guest-btn{
margin: 0 auto 50px;
margin-top: 20px;
}

.signup-fields{
    :nth-child(5){
        border-radius:0%;
    }
}

.login-layout{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.523);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    // visibility: hidden;
   
}
