.login-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.523);
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
}

.login-container {
    cursor: auto;
    animation: 0.4s ease-out 0s 1 slideInFromButtom;
    width: 551px;
    height: 89vh;
    background-color: white;
    border-radius: 12px;
}

.login-title-cont {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(235, 235, 235) !important;
}

.login-title {
    margin-left: 32px;
    cursor: default;
}

.login-main-content {
    padding: 24px;
}

.login-header {
    cursor: default;
    letter-spacing: 0.29px;
    margin-top: 8px !important;
    margin-bottom: 24px !important;
    font-size: 22px;
    height: 20%;
}

.login-form-cont {
    width: 100%;
    height: 112px;
    border-radius: 8px;
    border: 1px solid rgb(27 27 27 / 34%);
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        font-family: circular-light;
        font-size: 16px;
        padding-left: 12px;
        height: 47.5%;
        border: 0;
        border-radius: 8px;
    }
}

.sign-up-form-cont {
    width: 100%;
    height: 168px;
    border-radius: 8px;
    border: 1px solid rgb(27 27 27 / 34%);
    ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        font-family: circular-light;
        font-size: 16px;
        padding-left: 12px;
        height: 31%;
        border: 0;
        border-radius: 8px;
    }
}

.form-line {
    height: 0.5px;
    width: 100%;
    background-color: rgb(27 27 27 / 34%);
    ;
}

.login-btn {
    margin: 30px 0;
    margin-bottom: 28px;
}

.login-or-line {
    height: 0.5px;
    width: 100%;
    background-color: rgb(221, 221, 221) !important;
}

.login-line-text {
    cursor: default;
    width: fit-content;
    margin: auto;
    margin-top: -9px;
    padding: 0 12px;
    background-color: white;
    font-family: 'circular-light';
    font-size: 12px;
    color: #484848;
}

.login-guest-btn {
    margin: 24px 0;
    margin-top: 20px;
}

.move-to-signup,
.move-to-login {
    cursor: pointer;
    color: black;
    font-family: 'circular-light';
    margin: auto;
    width: fit-content;
    text-decoration: underline;
    margin-top: 65px;
}

.move-to-login {
    margin-top: 50px !important;
}


.exit-login-btn {
    position: relative;
    left: -322px;
    border-radius: 50%;
    padding: 8px;
    transition: 200ms;
    cursor: pointer;

    &:hover {
        background-color: rgb(247, 247, 247);
    }
}