.user-page-layout {
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}


.user-layout-bottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 2em 0;
    width: 100%;

    h3 {
        display: flex;
        align-items: center;
        font-size: xx-large;
        margin: 0 0 1em 0;

        img {
            margin-left: 0.5em;
            width: 40px;
        }
    }

}

.trips-table-layout {
    border-radius: 15px;
    flex-direction: column;
    width: 100%;
    font-family: "circular-light";

    .trip-container {
        display: flex;
        border-radius: 24px;
        padding: 1em 1em 1em 1em;
        box-shadow: rgb(0 0 0 / 15%) 0px 6px 16px;
        border: 0.7px solid rgb(221, 221, 221);

        &:not(:last-of-type) {
            border-bottom: 1px solid #dddddd;
            margin-bottom: 1em;
        }
    }

    img {
        border-radius: 24px;
        width: 40%;
        aspect-ratio: 20/15;
        max-width: 300px;
    }

    p {
        white-space: nowrap;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 5px 0 5px 0;

        
    }

    .user-trip-details {
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        width: 100%;
        justify-content: space-around;

        span:first-of-type {
            font-weight: bold;
        }

        &>p:first-of-type {
            font-family: circular-light;
            font-weight: 700;
            word-break: break-all;
            font-size: 18px;
            line-height: 24px;
            text-overflow: ellipsis;
            color: #222222;
        }

        section{
            display: flex;
        }

        section p:last-of-type {
            margin-top: auto;
            display: flex;
            justify-content: end;
        }
    }

    .trip-pending {
        color: #ff385c;
        text-transform: capitalize;
    }

    .trip-approved {
        color: green;
        text-transform: capitalize;
    }
}