.user-page-layout {
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    padding: 0 80px;
}

.trips-table-layout {
    overflow-y: auto;
}


.user-layout-bottom {
    display: flex;
    justify-content: center;

}

.trips-table-layout {
    overflow-y: auto;
    padding: 8px 0;
    border-radius: 15px;
    margin-top: 5vh;
    margin-bottom: 36px;
    padding: 2em;
    display: flex;
    flex-direction: column;
    font-display: row;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    border: 0.7px solid rgb(221, 221, 221);
    width: 100%;
    height: 70vh;

    h3 {
        display: flex;
        align-items: center;
        font-size: xx-large;

        img{
            margin-left: 0.5em;
            width: 40px;
        }
    }

    .trips-container {
        width: 90%;
        display: flex;
        gap: 10px;

        img {
            width: 100%;
        }
    }

    .trip-container{
        width: 90%;
    }
}