@media screen and (max-width:745px) {
    .wish-list-container,.alt-wish-conatiner{
        padding-left: 24px !important;
        padding-right: 24px !important;
        width: calc(100% - 48px);
    }

    .alt-wish-conatiner{
        margin-top: 104px !important;
    }
}

@media screen and (max-width:1124px) and (min-width:745.1px) {
    .wish-list-container,.alt-wish-conatiner{
        padding-left: 40px !important;
        padding-right: 40px !important;
        width: calc(100% - 80px);
    }

    .alt-wish-conatiner{
        margin-top: 36px !important;
    }
}


@media screen and (min-width:1124px) and (max-width:1603px) {

    .wish-list-container,.alt-wish-conatiner{
        padding-left: 80px !important;
        padding-right: 80px !important;
        width: calc(100% - 160px);
    }
}

@media screen and (min-width:1124px) {
    .alt-wish-conatiner{
        margin-top: 36px !important;
    }
}

.wish-list-container {
    padding-top: 16px !important;

    @media screen and (min-width:743px) and (max-width:1124px){
        padding-left: 40px !important;
        padding-right: 40px !important;
    }

    @media screen and (max-width:743px) {
        width: calc(100% - 48px);
        padding-left: 24px !important;
        padding-right: 24px !important;
    }
}

.wish-container {
    border-bottom: 1px solid rgb(235, 235, 235) !important;
    box-sizing: border-box;
    height: 100%;
    position: relative;
    z-index: 1;
    cursor: pointer;

    @media screen and (min-width:745px) {
        display: flex;
        padding-top: 24px !important;
        padding-bottom: 24px !important;

        .mobile-fav {
            display: none !important;
        }

        img {
            object-fit: cover;
            height: 200px;
            width: 300px;
        }

        .el-carousel {
            height: 200px !important;
            width: 300px !important;
        }

        .wish-details-container {
            display: flex;
        }

        .wish-details-container-mobile {
            display: none;
        }

        .rating-num p {
            font-weight: 400;
        }
        
        .wish-name{

            p:first-of-type{
                font-size: 14px;
                color: #717171;
            }

            p:nth-of-type(2){
                font-weight: 700;
                font-size: 18px;
            }
        }
    }

    @media screen and (max-width:744px) {
        padding-top: 16px !important;
        padding-bottom: 16px !important;

        .mobile-fav {
            position: absolute;
            top: 15px !important;
            right: 15px !important;
        }

        .desktop-fav {
            display: none !important;
        }

        img {
            height: 100%;
            width: 100%;
        }

        >section:first-of-type {
            width: 100% !important;
            height: calc(58vw - 48px) !important;
            margin-bottom: 10px;
        }

        .el-carousel {
            width: 100%;
            height: 100%;
        }

        .wish-details-container {
            display: none;
        }

        .wish-details-container-mobile {

            .wish-rating {
                margin-bottom: 6px;
            }

            .rating-num p,
            span {
                font-size: 14px;
                font-family: 'circular-light';
            }

            .wish-name {
                margin-bottom: 4px;

                p:first-of-type{
                    margin-bottom: 2px;
                }

                p {
                    font-size: 16px;
                    color: rgb(34 34 34);
                    font-family: "circular-light";
                    font-weight: normal;
                }
            }
        }

        .wish-price-mobile{
            p{
                margin: 0;
            }
        }

    }

    .el-carousel__container {
        height: 100% !important;
    }

    .preview-img-container {
        position: relative;
        overflow: hidden;
        margin-bottom: 12px;
        width: 100%;
        aspect-ratio: 20/19;
        background-color: #DDDDDD;
        border-radius: 12px;

        img {
            width: 100%;
            height: 100%;
        }

        svg {
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    section img {
        vertical-align: bottom;
        min-height: 1px;
        border-radius: 12px;
        background-position: 50% 50% !important;
        background-repeat: no-repeat !important;
    }

    .wish-details-container {
        margin-left: 16px;
        flex-direction: column;
        flex-grow: 1;
        height: 200px;
        font-size: 14px;
        line-height: 1.43;
        color: #484848;
        background-color: #fff;
        -webkit-font-smoothing: antialiased;
    }

    .wish-name {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        div {
            margin-right: 16px;
            flex: 1;
        }

        p {
            padding: 0 auto;
            margin: 0 auto;

            &:first-of-type {
                margin-bottom: 4px;
                animation-duration: 0.3s;
                animation-name: fade-in;
                line-height: 18px;
                align-items: center;
                width: 100%;
                font-family: circular-light;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
            }

            &:nth-of-type(2) {
                font-family: circular-light;
                word-break: break-all;
                line-height: 24px;
                text-overflow: ellipsis;
                color: #222222;
            }
        }
    }

    .wish-sep {
        margin-top: 11px;
        width: 32px;
        border-bottom: #dddddd 1px solid;
    }

    .about-wish {
        display: flex;

        * {
            margin: 0;
            margin-top: 9px;
            font-size: 14px;
            line-height: 18px;
            color: #717171;
            font-family: circular-light;

        }
    }

    .wish-price-rating {
        margin-top: -10px;
    }

    .wish-price-rating,
    .wish-rating {
        display: flex;
        align-items: flex-end;
        flex-grow: 1;

        div {
            // margin-right: 12px;
            flex: 1 0 auto;
            display: flex;
            align-items: center;
        }

        svg {
            display: block;
            height: 14px;
            width: 14px;
            fill: #ff385c;
            margin-right: 4px;
        }
    }

    .rating-num {
        p {
            margin: 0;
            color: #222222;
        }

        span {
            color: #717171;
            font-family: circular-light;
        }
    }

    .wish-price {

        * {
            line-height: 24px;
            font-size: 18px;
            color: rgb(34, 34, 34) !important;
        }

        p {
            margin: 0;
            margin-left: auto;
            font-weight: 800;
        }

        span {
            font-weight: 550;
            font-family: 'circular-light';
        }
    }
}

.alt-wish-conatiner {
    // margin-left: 24px !important;
    // padding-right: 24px !important;

    * {
        font-family: circular-light !important;
    }

    h1 {
        margin: 0;
        font-size: 22px !important;
        line-height: 26px !important;
        color: #484848;
    }

    p {
        margin: 0;
        padding-top: 20px !important;
        font-weight: 400 !important;
        font-size: 14px !important;
        line-height: 18px !important;
        color: #484848;
    }

    router-link,
    a {
        cursor: pointer !important;
        display: inline-block !important;
        text-decoration: none !important;
        line-height: 20px !important;
        font-weight: 600 !important;
        border-radius: 8px !important;
        padding: 14px 24px !important;
        background: #222222 !important;
        color: white !important;
        margin-top: 28px !important;
    }
}