.stay-details-layout {

    .details-padding {
        padding: 0 max(80px, 13.15vw);
    }
}
.mobile-details-padding{
    padding: 0 24px;
}

.bold {
    font-family: circular-bold;
}

.position-unset {
    position: unset;
}

.grey {
    color: #717171;
    margin-left: 3px;
}