.stay-details-layout {

    .details-padding {
        padding: 0 80px;
    }
}
.mobile-details-padding{
    padding: 0 24px;
}

.bold {
    font-family: circular-bold;
}

.position-unset {
    position: unset;
}

.grey {
    color: #717171;
    margin-left: 3px;
}

.hidden {
    visibility: hidden;
}

.opacity{
    opacity: 0;
    cursor: auto !important;
}

.filter-modal-title {
    padding-top: 32px;
    border-top: 1px solid rgb(235, 235, 235) !important;
}