


@media screen and (max-width:1603px) {
    .demo-list {
      grid-template-columns: repeat(4, 1fr);
    }
  
    .stay-details-layout {
  
      .details-padding {
        padding: 0 40px;
  
      }
  
    }
  }

@media screen and (max-width:950px) {
    .demo-list {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .stay-details-layout {
  
      .details-padding {
        padding: 0 40px;
  
      }
  
    }
  }
  
  @media screen and (max-width:745px) {
    .demo-list {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .header-container {
      height: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
  
      &>* {
        &:nth-child(2) {
          grid-column: 1/-1;
          padding: 0;
        }
  
        &:not(:nth-child(2)) {
          display: none;
        }
      }
    }
  }
  
  @media screen and (max-width:550px) {
    .demo-list {
      grid-template-columns: repeat(1, 1fr);
    }
  
  }
  
  @media screen and (max-width:770px) {
    .header-filter-layout {
      padding: 0;
      padding-right: 25px !important;
    }
  
    .logo-container p {
      display: none;
    }
  
    .become-a-host {
      display: none !important;
    }
  }
  
  @media screen and (min-width:770px) {
    .trip-container {
      img {
        width: 30%;
      }
    }
  
    .user-trip-details section p:last-of-type {
      display: flex;
      justify-content: end;
    }
  
    .short-list-heading{
      width:97.4% !important;
    }
  }