@media screen and (min-width:1301px) {
    .stay-details-layout .details-padding {
        padding: 0 !important;
        max-width: 1120px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}

@media screen and (min-width:1603px) {

    .homepage-stay-list-cont,
    .header-container,
    .category-filters-container {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1603px) {
    .homepage-stay-list {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media screen and (max-width:1128px) {

    .stay-details-layout {

        .details-padding {
            padding: 0 40px;

        }

    }
}

@media screen and (max-width:950px) {
    .homepage-stay-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .logo-container p {
        display: none;
    }

    .header-filter-layout {
        padding: 0;
        padding-right: 40px;
    }
}

@media screen and (max-width:920px) {

    .become-a-host {
        display: none !important;
    }

    .header-filter-layout {
        padding: 0;
    }
}

@media screen and (max-width:760px) {

    .header-i18-btn {
        display: none !important;
    }
}

@media screen and (max-width:745px) {
    .login-container {
        height: 100vh;
        width: 100vw;
    }

    .shadow {
        height: 65px;
        top: 79px;
    }

    .filter-img-layout {
        height: 70px !important;
    }

    .carousel {
        width: 95vw !important;
    }

    .carousel__track {
        gap: 16px !important;
    }

    .login-main-content {
        padding: 24px 45px;
    }

    .category-filters-container {
        margin: 0 !important;
    }

    .carousel__prev,
    .carousel__next {
        display: none !important;
    }

    .homepage-stay-list-cont {
        padding-top: 24px !important;
    }

    .category-filters-layout {
        margin: 0 !important;
    }

    .exit-login-btn {
        left: -55vw;
    }

    .header-layout {
        border-bottom: 2px solid white !important;
    }

    .homepage-stay-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-container {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>* {
            &:nth-child(2) {
                grid-column: 1/-1;
                padding: 0;
            }

            &:not(:nth-child(2)) {
                display: none;
            }
        }
    }

    .homepage-stay-list-cont {
        margin: 0 25px;
        margin-top: 144px;
        padding: 0;
    }

    .header-layout {
        height: 81px;
        padding: 14px 24px 0;
        padding-bottom: 2px;
        height: unset !important;
    }

    .header-container {
        display: none;
    }

    .mobile-header {
        height: 56px;
        display: flex;
        box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
        border-radius: 1000px;
        align-items: center;
    }

    .category-filters-layout {
        top: 73px;
    }

    .mobile-search-btn {
        margin-left: 20px;
        margin-right: 18px;
    }

    .mobile-search-filter-btn {
        margin-left: auto;

        .vfm__content {
            width: 100vw !important;
            margin-bottom: unset !important;
        }

        .input-price-container :first-child {
            width: 50%;
        }
    }

    .property-btns {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        width: unset;

        &>* {
            margin: 0 !important;
        }
    }

    .filters-btn {
        margin-right: 10px;
        border: 1px solid #dddddd;
        border-radius: 50%;
        height: fit-content;
        padding: 9px;
        margin-left: auto;
    }

    .filter-btn-container {
        padding: 0 !important;
    }

    .carousel__track {
        margin-left: 25px;
    }

    .header-layout {
        width: calc(100vw - 48px);
    }

    .header-layout,
    .category-filters-layout {
        position: fixed;
    }

    .mobile-search-header {
        font-family: circular-light;
        font-weight: bold;
        font-size: 14px;
    }

    .mobile-search-data {
        font-family: circular-light;
        font-size: 12px;
        color: #717171;

        span {
            padding: 0 3px;
        }
    }

    .filter-btn-container {
        span {
            display: none;
        }
    }
}

@media screen and (max-width:550px) {
    .homepage-stay-list {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width:770px) {
    .trip-container {
        img {
            width: 30%;
        }
    }

    .user-trip-details section p:last-of-type {
        display: flex;
        justify-content: end;
    }

    .short-list-heading {
        width: 97.4% !important;
    }
}

@media screen and (min-width:750px) {
    .order-sum-modal {
        .modal-container{
            padding-right: 50px !important;
        }
        // .vfm--fixed{
        //     background-color: rgba(0, 0, 0, 0.5);
        // }
    }
}