@media screen and (min-width:1603px) {

    .demo-list-cont,
    .header-container,
    .category-filters-container {
        max-width: 1600px;
        margin: 0 auto;
    }
}

@media screen and (max-width:1603px) {
    .demo-list {
        grid-template-columns: repeat(4, 1fr);
    }

}

@media screen and (max-width:1128px) {

    .stay-details-layout {

        .details-padding {
            padding: 0 40px;

        }

    }
}

@media screen and (max-width:950px) {
    .demo-list {
        grid-template-columns: repeat(3, 1fr);
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .logo-container p {
        display: none;
    }

    .header-filter-layout {
        padding: 0;
        padding-right: 40px;
    }
}

@media screen and (max-width:850px) {

    .become-a-host {
        display: none !important;
    }

    .header-filter-layout {
        padding: 0;
    }
}

@media screen and (max-width:745px) {
    .login-container {
        height: 100vh;
        width: 100vw;
    }

    .login-main-content {
        padding: 24px 45px;
    }

    .exit-login-btn {
        left: -55vw;
    }

    // .footer-container {
    //     display: none;
    // }

    .demo-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .header-container {
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        &>* {
            &:nth-child(2) {
                grid-column: 1/-1;
                padding: 0;
            }

            &:not(:nth-child(2)) {
                display: none;
            }
        }
    }

    .demo-list-cont,
    .category-filters-container {
        margin: 0 25px;
        padding: 0;
    }
}

@media screen and (max-width:550px) {
    .demo-list {
        grid-template-columns: repeat(1, 1fr);
    }

}

@media screen and (min-width:770px) {
    .trip-container {
        img {
            width: 30%;
        }
    }

    .user-trip-details section p:last-of-type {
        display: flex;
        justify-content: end;
    }

    .short-list-heading {
        width: 97.4% !important;
    }
}