@font-face {
    font-family: airbnb;
    src: url("../assets/fonts/airbnb/Brown-BoldAlt.ttf");
}

@font-face {
    font-family: circular;
    src: url("../assets/fonts/circular/Gilroy-Regular.ttf");
}
