@font-face {
    font-family: airbnb;
    src: url("../assets/fonts/airbnb/Brown-BoldAlt.ttf");
}

@font-face {
    font-family: circular;
    src: url("../assets/fonts/Circular/CircularStd-Medium.otf");
}
@font-face {
    font-family: circular;
    font-weight: bold;
    src: url("../assets/fonts/Circular/CircularStd-Bold.otf");
}
