.stay-amenities {
  padding-top: 48px;
}

.show-amenities-btn {
  margin-top: 48px;
  background-color: white;
  padding: 13px 23px;
  border: 1px solid black;
  border-radius: 8px;
  font-size: 16px;
  transition: 200ms;

  &:hover {
    background-color: #f7f7f7;
    cursor: pointer;
  }
}

.modal-container {
  height: 633px;
  max-height: fit-content;
  width: 780px;
  margin: auto;
  display: flex;
  background-color: white;
  border-radius: 12px;
  position: fixed;
  inset: 0;
  flex-direction: column;
}

::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}

.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}
.close-modal{
  height: 72px;
  svg{
    padding: 0;
  }
}
.modal__close {
  padding: 0;
  margin: 24px;
  background-color: transparent;
  border: 0;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  &:hover{
    cursor: pointer;
    background-color: #f7f7f7;
  }
}

.seperating-line {
  margin: 0;
}

.amenities-list-main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 48px;

  img {
    margin-right: 16px;
  }

  &>div {
    margin-bottom: 16px;
  }
}

.modal-amenities-container {
  width: 100%;
  overflow-y: auto;
}

.modal__title {
  padding: 24px;
  color: #222222;

  .modal-amenitie {
    display: flex;
    align-items: center;
  }

  .amenities-list {
    display: grid;
    grid-auto-flow: row;
    margin-bottom: 48px;

    img {
      margin-right: 16px;
    }

    &>div {
      margin-bottom: 16px;
    }
  }
}

.modal-amenitie {
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
}

.amenitie-svg {
  height: 24px;
  width: 24px;
}
.amenitiesModal{
  margin-bottom: 50px;
  // להוריד
}