.footer-container {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    border-top: #DDDDDD 1px solid;
    z-index: 11;
    bottom: 0;
    background-color: white;

    p,
    span {
        font-size: 14px;
        line-height: 18px;
        margin: 0;
        padding: 0;
        font-family: circular-light;
        color: #222222;
    }

    >div {
        display: flex;
        align-items: center;
        height: 19px;
    }

    .sep-footer {
        display: inline-block !important;
        text-align: center !important;
        width: 19px !important;
    }

    >div:nth-of-type(2) {
        flex: 1 0 22px;
    }

    >div:nth-of-type(3) {
        align-items: end;
        font-weight: 600 !important;

        >span {
            display: flex;

            &:not(:last-child) {
                margin-right: 24px !important;
            }
        }

        >span:first-of-type {
            align-items: center;

            svg {
                margin-right: 8px !important;
            }
        }

        >span:nth-of-type(2) {
            :first-child {
                margin-right: 8px !important;
            }
        }

        >span:last-of-type {
            :last-child {
                margin-left: 8px;
            }
        }
    }
}


.stay-details-layout {
    .footer-container {
        position: unset;
    }
}

@media screen and (max-width:745px) {
    .footer-container {
        margin-top: 12px;
        flex-direction: column;
        padding: 14px 24px 13px 24px;
    }
}

@media screen and (max-width:1124px) and (min-width:745.1px) {
    .footer-container {
        padding: 14px 40px 13px 40px !important;
    }
}

@media screen and (max-width:785px) and (min-width:746px) {
    .footer-container>div:nth-of-type(3) {
        white-space: nowrap;
    }

    .footer-container>div:first-of-type {
        display: block;
    }

    .footer-container>div {
        height: auto !important;
    }
}

@media screen and (min-width:746px) {

    .footer-container {
        position: fixed;
        align-items: center;
        padding: 14px 80px 13px 80px;
    }
}


.mobile-footer-container {
    position: fixed;
    align-items: center;
    bottom: 0;
    width: 100%;
    border-top: 1px solid #EBEBEB;
    background: #ffffff;
    position: fixed !important;
    height: 64px !important;
    left: 0px !important;
    right: 0px !important;
    z-index: 147;

    section {
        display: flex;
        align-items: center;
        height: 100%;
        margin: 0 auto !important;
        max-width: 560px !important;
    }

    a,
    span {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2px !important;
        max-width: 20% !important;
        cursor: pointer !important;
        width: 74.075px;
        text-decoration: none;
    }

    .active {
        svg {
            stroke: rgb(255, 56, 92) !important;
            fill: rgb(255, 56, 92) !important;
        }

        p {
            color: #ff385c !important;
        }
    }

    svg {
        margin-bottom: 5px !important;
        margin-top: 3px;
        stroke: #b0b0b0
    }

    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-bottom: 5px !important;
        margin-top: 3px
    }


    p {
        font-size: 10px !important;
        line-height: 12px !important;
        overflow: clip !important;
        text-overflow: ellipsis !important;
        display: -webkit-box !important;
        -webkit-line-clamp: 2 !important;
        -webkit-box-orient: vertical !important;
        font-weight: 600 !important;
        overflow-wrap: break-word !important;
        color: #717171;
        margin: 0;
        text-decoration: none;
    }
}

.fixed-footer {
    position: fixed;
}

// .clear{
//     margin-top: 60px;
// }

.undisplay-footer {
    display: none;
}