.header-layout {
    background-color: white;
    position: sticky;
    top: 0;
    height: 100%;
    border-bottom: 1px solid #dddddd;
    margin-bottom: -1px;
    z-index: 200;
}

.header-container {
    margin: 0 80px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header-container-alt {
    margin: 0 80px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "logo search user"
        ". search-bar .";
    align-items: center;

    .header-tools-container {
        grid-column: 2/4;
        width: max-content !important;
    }

    .modal-filter-choices-layout {
        margin-top: 71px;
    }
}

.logo-container {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: airbnb;
    color: #ff385c;
    font-size: 1.5em;
    height: 80px;
    letter-spacing: -2px;

    >* {
        cursor: pointer;
    }

    img {
        height: 32px;
        padding-right: 4.4px;
        padding-top: 0.9px;
        margin-left: -2px;
        margin-right: 4px;
    }

    p {
        margin: 0 0 5px -3px;
    }
}

.grid-area-logo {
    grid-area: logo;
}

.header-filter-layout {
    grid-row: 1/3;
    grid-column: 2;
    cursor: pointer;
    height: 46px;
    width: 352.21px;
    margin: 0 50px;
    // padding: 0 50px;
    // סימנייה
}

.header-filter-container {
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    border-radius: 40px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 250ms;

    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    span {
        background-color: #DDDDDD;
        flex: 0 0 1px;
        height: 24px;
        width: 1px;
    }
}

.filter-guests {
    padding-left: 9px !important;
    font-family: circular-light;
    font-weight: 300;
    font-size: 15px !important;
}

.header-txt-container {
    height: fit-content;
    width: fit-content;
    font-size: 14px;
    color: #222222;
    margin: auto;
    padding-bottom: 3px;
    padding-left: 10px;

    &:nth-child(3) {
        padding-left: 6.7px !important;
    }

    &:nth-child(5) {
        color: #717171;
    }
}


.grid-area-user {
    grid-area: user;
}

.header-tools-container {
    display: flex;
    justify-self: end;
    width: fit-content;
    font-size: 14px;
    margin-right: 5px;

    div {
        height: 42px;
        padding: 0 13px;
    }
}

.globe-img {
    width: 16px;
    height: 16px;
}

.navburger-svg {
    height: 16px;
}

.header-txt-container {
    padding: 0 16px;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
    color: #222222;
    margin: auto;
    padding-right: 7px;

    &:nth-child(4) {
        color: #717171;
    }
}


.header-demo-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #ff385c;
    border-radius: 50%;
    margin: 7px 7px 7px 0;

    svg {
        color: #ffffff;
    }
}

.grid-area-user {
    grid-area: user;
}

.header-tools-container {
    display: flex;
    justify-self: end;
    width: fit-content;
    font-size: 14px;

    div {
        height: 42px;
        padding: 0 15px;
        padding-right: 12px;
        display: flex;
        align-items: center;
        transition: 250ms;

        &:hover:not(.header-user-options) {
            background-color: #f7f7f7;
            border-radius: 22px;
            cursor: pointer;
        }

        &:first-of-type {
            padding: 0;
            padding-right: 5px;
            line-height: 18px;
            display: flex;
            margin-right: -3px;
        }

    }

}


.header-user-options {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    width: fit-content;
    outline: 1px solid #dddddd;
    border-radius: 22px;
    transition: 250ms;
    margin-left: 8px;

    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    .navburger-svg {
        margin: 4px 12px 0 12px;
    }
}

.header-profile-img {
    display: flex;

    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
    }
}

.user-menu {
    font-family: circular-light;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    top: 70px;
    right: 80px;
    border-radius: 10px;
    width: 242px;
    padding: 10px 0;
    background-color: white;
    position: fixed;
    cursor: pointer;

    p {
        padding: 10px 20px;
        margin: 0;
        height: 25px;
        display: flex;
        align-items: center;

        &:hover {
            background-color: #faeaea66;
        }
    }
}

.header-user-options {
    padding: 0 6px;
}

.become-a-host {
    padding: 0 12px !important;
    font-size: 14.5px;
}

.header-tools-container div:not(.header-user-options) {
    border-radius: 22px;
    white-space: nowrap;
}

.details-filter-layout {
    cursor: pointer;
    margin-top: 2px;
    margin-left: 36px;
    height: 46px;
    width: 298px;
    background-color: #ffffff;
    border: 1px solid #DDDDDD;
    border-radius: 40px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    transition: 250ms;
    justify-content: space-between;

    &:hover {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
    }

    span {
        background-color: #DDDDDD;
        flex: 0 0 1px;
        height: 24px;
        width: 1px;
    }

    .details-search-txt {
        margin-left: 24px;
        font-size: 14.5px;
    }

    .details-red-search {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        background-color: #ff385c;
        border-radius: 50%;
        margin: 7px 7px 7px 0;

        svg {
            color: #ffffff;
        }
    }
}

.header-layout {

    .modal-vue,
    .modal {
        left: 360px;
    }

    .search-region {
        padding-right: 12px !important;
        padding-bottom: 23px !important;

        &>p {
            padding: 0 !important;
            margin: 12px 0px 31px 0px !important;
        }
    }

    .imgs-container {
        .modal-img {
            width: 122px !important;
            height: 122px !important;
        }

        column-gap: 9px;
        display: grid;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        grid-template-columns: repeat(3, 1fr);
        row-gap: 33px;

        p {
            color: #222222;
            font-size: 13px;
            line-height: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin: 1px 0px 0px 6px !important;
            text-transform: capitalize;
        }
    }

    .modal img {
        width: 123px !important;
        height: 124px !important;
        background-color: transparent !important;
        top: -1px !important;
        left: -1px !important;
        border-style: solid !important;
        border-radius: 14px;
    }
}

.nav-bar-login {
    font-weight: bold;
}