.dp__flex_display>*:first-child{
    margin: 50px !important;
    background-color: aqua;

    .dp__month_year_select:nth-of-type(2){
        margin-left: 50px;
    }

    .dp__month_year_select:nth-of-type(3){
        background-color:darkred;
    }

}
.dp__flex_display>*:last-child
{
    .dp__month_year_select:nth-of-type(2){
        background-color:darkred;

    }

}