.filters-btn {
    cursor: pointer;
    border: 1px solid #e4e4e4;
    border-radius: 12px;
    box-shadow: var(--filter-button_box-shadow, unset);
    background-color: white;
    margin: 0;
    padding: 7px 0;
    height: 48px;

    .filter-btn-container {
        display: grid;
        justify-items: center;
        grid-auto-flow: column;
        padding: 0 16px;
        padding-top: 2px;
        gap: 8px;

        span {
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
        }
    }
}


// .filter-container{
// }

.filter-modal{
    margin-left: 30px;
    // overflow-y: auto;
}
.explore-filters-conatiner{
    .amenities-modal{
        .modal-container{
            overflow-y: auto;
        }
    }
}
.filter-modal {
  .modal-container {
    height: 60vh;
    max-height: fit-content;
    overflow-y: auto;
    width: 60vw;
    margin: auto;
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    inset: 0;
    
  }
}

::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}


.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}

.modal__close {
  display: flex;
  position: fixed;
  margin: 0;
  top: 6.5rem;
  left: 15.5rem;
  background-color: #ffffff3b;
}

.price-input{
    border: 0; outline: 0;
}

.price-input:focus{
    outline:none!important;
}

.input-price-container{
    border: 0.5px solid #717171;
    width: fit-content;
    padding: 10px;
    border-radius: 8px;

    :first-child{
        color: #717171;
        font-size: 14px;
    }
}

.price-inputs{
    display: flex;
    gap: 1em;

    :nth-child(2){
        align-self: center;
    }
}

.place-type-header{
    margin-top: 2em;
}

.filters-title{
   text-align: center;
    
}
// input.entire-place,
// input.private-room,
// input.shared-room
// {
//     width: 30px;
//     height: 30px;
    
// }

.bedroom-btns{
    display: flex;
    gap: 1em;
    margin-top: 1em;
    margin-bottom: 1.8em;

    >*{
        padding: 15px 30px;
        border-radius: 25px;
        background-color: #fff;
        cursor: pointer;
    }
    >:first-child{
        background-color: black;
        color: white;
    }
}

.amenities-filter{
display: flex;
flex-direction: column;
gap: 1em
}

.property-btns{
    display: flex;
    gap:1em;

    >*{
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 20px 35px;
        border-radius: 8px;
        border: 0.5px #717171 solid;
       

        &:hover{
         border: 1px black solid; 
         cursor: pointer; 
        }
    }
}