.host-page-container{
    .header-filter-layout{
        padding: 0;
        padding-right: 25px !important;
    }
    .logo-container p{
        display: none;
    }
    .become-a-host{
        display: none !important;
    }
}
.short-list-heading {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-left: 5px;

    &>* {
        margin-right: 6px;
        width: max-content;

        &:last-child {
            cursor: pointer;
        }
    }

}

.host-short-list {
    padding: 8px 16px;
    border-radius: 15px;
    margin: 0;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    font-display: row;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 6px -1px;
    border: 0.7px solid rgb(221, 221, 221);
    width: 95%;

    img {
        margin-right: 20px;
        height: 65px;
        width: 65px;
        border-radius: 50%;
        object-fit: cover;
    }

    &>div>div {
        &:first-of-type {
            font-size: 16px;
        }

        &:not(.bold) {
            font-family: circular-light;
            color: #717171;
            font-size: 13px;
        }

        &:last-of-type {
            font-size: 14px;
        }
    }
}

.short-list-btns {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;

    &>* {
        min-width: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 23px;
        font-family: circular-bold;
        font-size: 16px !important;
        padding: 12px;
        transition: 200ms;
    }
}

.host-order-accept {
    background-color: #df1461;
    color: white !important;

    &:hover {
        background-color: #cb195e;
    }
}

.host-order-reject {

    &:hover {
        background: #80808012;
    }
}

.accept-list-btns {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 170px;
    margin-right: -6px;
    justify-content: flex-end;

    .order-approved {
        background-color: none;
        color: green!important;
        min-width: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 23px;
        font-family: circular-bold;
        font-size: 16px !important;
        padding: 12px;
        transition: 200ms;

    }
}