@media screen and (min-width:1124px) {
  
  .reviews-list li{
    min-height: 168px;
  }

  .modal-container {
    ul {
      overflow-y: auto;
    }

    li:last-of-type{
      margin-bottom: 40px;
    }

    li{
      min-height: initial !important;
    }
  }

}

@media screen and (max-width:758px) {

  .reviews-container {
    padding-bottom: 110px;


    ::-webkit-scrollbar {
      width: 0px;
      background: transparent;
    }

    .reviews-list {
      display: flex;
      margin-bottom: 24px;


      li {
        margin-bottom: 10px;
        border: 1px solid #DDDDDD;
        border-radius: 12px;
        padding: 16px;
        width: 295px !important;
        height: 202px;

        .reviews-txt-container {
          width: 295px;
          font-family: 'circular-light';
        }
      }

    }

    .show-reviews-btn {
      display: block !important;
      width: 100%;
    }

    .stay-reviews-scores {
      display: none;
    }
  }

}

@media screen and (min-width:758px) and (max-width:1124px) {
  .reviews-list {
    grid-template-columns: 1fr !important;

    li {
      width: auto !important;
    }

    li:last-of-type {
      margin-bottom: 40px;
    }
  }

  .show-reviews-btn {
    margin-top: 8px;
  }

  .modal-container {
    .modal__title {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
    }

    .review-scores-container {
      grid-template-rows: 1fr 1fr 1fr !important;
      grid-template-columns: 1fr 1fr !important;
    }

    li {
      width: 100% !important;
    }

    li:last-of-type {
      margin-bottom: 0 !important;
    }
  }
}


@media screen and (min-width:758px) {
  .reviews-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 53px;

    li {
      width: 30vw;
      padding: 0 8px;
      padding-left: 0;
    }
  }

  .close-reviews-modal {
    padding: 27px 0 27px 16px;
  }

  .modal-container {
    .modal__title {
      height: calc(100% - 24px);
    }

    .reviews-list {
      height: calc(100% - 37px);
    }
  }
}

.reviews-container {
  margin-top: 70px;

  &>*:first-child {
    margin: 0;
    margin-bottom: 27px;
    padding-top: 48px;
    border-top: 1px solid rgb(221, 221, 221);
  }

}

.profile-img {
  height: 40px;
  border-radius: 50%;
}

.reviews-list {
  list-style: none;
}

.show-reviews-btn {
  background-color: white;
  padding: 13px 23px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.reviews-modal {
  .modal-container {
    height: 70vh;
    max-height: fit-content;
    // overflow-y: auto;
    width: 67vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    inset: 0;
  }

  .reviews-title {
    margin-top: 0;
  }

  .modal__title {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }

  ::-webkit-scrollbar {
    // color: #2d3748;
    width: 1px;
  }
}

::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}

.modal__title {
  font-size: 1em;
}

.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}

.modal__close {
  display: flex;
  position: fixed;
  margin: 0;
  top: 6.5rem;
  left: 15.5rem;
  background-color: #ffffff3b;
}

.review-name {
  font-weight: 600;
}

.review-time {
  color: #717171;
  font-size: 14px;
}

.review-deatails-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;

  div {
    margin-left: 12px;
    display: flex;
    flex-direction: column;

    &>* {
      height: fit-content;
    }
  }

  img {
    width: fit-content;
  }
}

.reviews-list {
  margin: 0;
  margin-top: 24px;
  gap: 40px;
  column-gap: 15px;
  padding-left: 0;
}

progress {
  height: 4px;
  display: block;
  width: 8vw;
}

label {
  margin-top: 30px;
}

.review-scores-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 15px;

  &>* {
    width: 30vw;
    padding-left: 0;
    display: flex;
    margin-bottom: 13px;
  }

  &>*>*:nth-child(2) {
    display: flex;
    margin-left: auto;
    gap: 10px;
    align-items: center;
  }
}

.show-more-review-btn {
  text-decoration: underline;
  background-color: unset;
  cursor: pointer;
  border: unset;
}

.show-more-review-container {
  margin-top: 8px;
}

.review-score-display {
  font-size: 12px;
  font-family: circular-bold;
}

.modal__title {
  // overflow-y: auto;
  display: grid;
  grid-auto-flow: column;
  column-gap: 31px;

  .review-scores-container>* {
    max-width: 327px;
  }

  .review-scores-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .reviews-list {
    margin-left: auto;
    // margin-right: 20px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .review-deatails-container {
    display: flex;
    margin-bottom: 9px;
  }
}

.show-reviews-btn {
  cursor: pointer;
}

.demo-progress {
  height: 100%;
  display: flex;
  align-items: center;
}

.el-progress__text {
  display: none;
}

.el-progress--line {
  width: 122px;

  div {
    height: 4px;
  }

  .el-progress-bar__outer {
    height: 4px !important;
  }
}

.mobile-reviews-layout {
  height: 50%;
  margin-top: 20px;
  display: flex;
  // overflow: auto;
  width: 100%;
}

.mobile-reviews {

  .reviews-container .reviews-list {
    overflow-x: auto;
  }

  .reviews-modal {

    .vfm__container {
      animation: 0.4s ease-out 0s 1 normal none running slideInFromButtom;
    }

    .modal-container {
      padding: 0 !important;
      height: 100%;
      width: 100%;
      border-radius: 0 !important;
    }

    .modal__title {
      display: flex;
      flex-direction: column;
      overflow-x: auto;
    }

    .review-scores-container>div {
      width: 100% !important;
      max-width: 100% !important;
    }

    .reviews-list li {
      margin-bottom: 32px;
    }

    .reviews-list li div:last-of-type {
      font-family: 'circular-light';
    }
  }

  .close-reviews-modal {
    padding: 16px 0 16px 24px;
  }
}

.close-reviews-modal {
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
}