.reviews-container {
  margin-top: 70px;

  &>*:first-child {
    margin: 0;
    margin-bottom: 27px;
    padding-top: 48px;
    border-top: 1px solid rgb(221, 221, 221);
  }
}

.profile-img {
  height: 40px;
  border-radius: 50%;
}

.reviews-list {
  list-style: none;
}

.show-reviews-btn {
  background-color: white;
  padding: 13px 23px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
}

.modal-container {
  height: 70vh;
  max-height: fit-content;
  overflow-y: auto;
  width: 67vw;
  margin: auto;
  display: flex;
  padding: 20px;
  background-color: white;
  border-radius: 12px;
  position: fixed;
  inset: 0;
}

::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}

.modal__title {
  font-size: 1em;
}

.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}

.modal__close {
  display: flex;
  position: fixed;
  margin: 0;
  top: 6.5rem;
  left: 15.5rem;
  background-color:
    #ffffff3b;
}

// .reviewsModal {
//   inset: 2em;
//   justify-content: center;
//   border-radius: 12px;
//   background-color: white;
// }
.review-name {
  font-weight: 600;
}

.review-time {
  color: #717171;
  font-size: 14px;
}

.review-deatails-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 18px;

  div {
    margin-left: 12px;
    display: flex;
    flex-direction: column;

    &>* {
      height: fit-content;
    }
  }

  img {
    width: fit-content;
  }

}

.reviews-list {
  margin: 0;
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  // להחליף ל10 כשמסדרים עם הריד מור
  column-gap: 15px;
  padding-left: 0;
  margin-bottom: 53px;

  li {
    padding: 0 8px;
    padding-left: 0;
    width: 30vw;
  }
}

progress {
  height: 4px;
  display: block;
  width: 8vw;
}

label {
  margin-top: 30px;
}

.review-scores-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 15px;

  &>* {
    width: 30vw;
    padding-left: 0;
    display: flex;
    margin-bottom: 13px;
  }

  &>*>*:nth-child(2) {
    display: flex;
    margin-left: auto;
    gap: 10px;
    align-items: center;
  }
}

.show-more-review-btn {
  text-decoration: underline;
  background-color: unset;
  cursor: pointer;
  border: unset;
}

.show-more-review-container {
  margin-top: 8px;
}

.review-score-display {
  font-size: 12px;
  font-family: circular-bold;
}

.modal__title {
  overflow-y: auto;
  display: grid;
  grid-auto-flow: column;
  column-gap: 31px;

  .review-scores-container>* {
    max-width: 327px;
  }

  .review-scores-container {
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .reviews-list {
    margin-left: auto;
    margin-right: 20px;
    grid-auto-flow: row;
    grid-template-columns: 1fr;
  }

  .review-deatails-container {
    display: flex;
    margin-bottom: 9px;
  }
}

.show-reviews-btn {
  cursor: pointer;
}

.demo-progress {
  height: 100%;
  display: flex;
  align-items: center;
}
.el-progress__text{
  display: none;
}
.el-progress--line {
  width: 122px;

  div {
    height: 4px;
  }

  .el-progress-bar__outer {
    height: 4px !important;
  }
}