.share-background {
    background: rgb(34 34 34 / 60%) !important;
    z-index: 2000 !important;
    position: fixed !important;
    inset: 0px !important;
    overflow-y: auto !important;
    animation-duration: 400ms !important;
    animation-iteration-count: 1 !important;
    animation-fill-mode: both !important;
}

.share-modal {
    z-index: 2000 !important;
    position: fixed !important;
    inset: 0px !important;
    display: block !important;
    background: rgb(255, 255, 255) !important;
    height: 624px;
    padding: 24px !important;
    border-radius: 12px;
    animation: 0.4s ease-out 0s 1 slideInFromButtom;

    @media screen and (max-width:743px) {
        width: unset;
        background-color: #f6f6f6 !important;
        margin-top: auto;

        h1 {
            font-size: 18px !important;
        }

        >span{
            margin-top: 12px !important;
            margin-bottom: 12px !important;
        }
    }

    @media screen and (min-width:744px) {
        width: 520px;
        margin: auto;

        h1 {
            font-size: 26px !important;
        }

        >span{
            margin-top: 24px !important;
            margin-bottom: 24px !important;
        }
    }

    h1 {
        line-height: 30px !important;
        // margin-top: 40px !important;
        margin-bottom: 24px !important;
        font-weight: 600 !important;
        color: rgb(34, 34, 34) !important;
        display: block !important;
    }

    p:first-of-type {
        color: #727272
    }

    span {
        display: flex !important;
        align-items: center;
    }

    >span img {
        max-width: 100% !important;
        width: 64px !important;
        height: 64px !important;
        border-radius: 8px !important;
        display: inline-block !important;
        object-fit: cover !important;
        margin-right: 16px !important;
    }

    .close-button button {
        background: none;
        border: none;
        display: block;
        height: 16px;
        cursor: pointer;
    }
}

.web-container {
    justify-content: space-between;

    >section,
    a {
        display: flex;
        align-items: center;
        align-items: center;
        outline: none !important;
        cursor: pointer !important;
        border: 1px solid rgb(221, 221, 221) !important;
        border-radius: 12px !important;
        font-size: 16px !important;
        line-height: 20px !important;
        font-weight: 500 !important;
        overflow: hidden !important;
        color: rgb(34, 34, 34) !important;
        text-overflow: ellipsis !important;
        background-color: #fefefe
    }

    @media screen and (max-width:743px) {
        display: flex;
        flex-direction: column;

        img {
            width: 24px;
        }

        >section,
        a {
            flex-direction: row-reverse;
            justify-content: space-between;

            span{
                padding: 16px 0px 16px 16px !important;
            }
        }

        section{
            margin-bottom: 12px !important;
        }

    }

    @media screen and (min-width:744px) {
        display: grid;
        grid-template-columns: 50% 50%;
        // grid-template-rows: 50% 50%;
        grid-template-rows: none !important;
        width: calc(100% - 30px) !important;
        gap: 20px;

        img {
            width: 40px;
        }

        >section,a{
            height:76px;
        }
    }

    img {
        margin: 0 22px;
    }
}

.msg-container {
    width: calc(100% - 30px) !important;
    display: flex;
}

.link-msg {
    z-index: 999999;
    // position: fixed !important;
    color: green;
    background: rgb(255, 255, 255) !important;
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 0 0 1px #0000000a, 0 8px 16px #00000026;
    transition: opacity 0.5s ease-in;
    transform: translate(0);
    margin: auto;
    position: absolute;
    left: calc(50% - 48px);

    img {
        width: 15px;
        margin-right: 5px;
    }

    @media screen and (max-width:743px) {
        left: calc(44vw - 48px);
        bottom: 10px;
    }

    @media screen and (min-width:744px) {
        left: calc(50% - 60px);
        bottom: 30px;
    }
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    100% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }
}

.slide-right {
    -webkit-animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}