.preview-container {
    height: fit-content;
    cursor: pointer;

    .explore-location-rating {
        span {
            width: 60%;
            overflow: hidden;
            // white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}


.demo-img,
.preview-img-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 12px;
    width: 100%;
    aspect-ratio: 20/19;
    background-color: #DDDDDD;
    border-radius: 12px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    svg {
        position: absolute;
        top: 15px;
        right: 15px;
    }
}

.stay-preview-data {
    display: grid;
    font-size: 15px;
    line-height: 19px;
    gap: 2px 8px;

    span {
        font-family: circular;
    }

    div:not(.preview-rating):not(.preview-location) {
        align-self: center;
        grid-column: 1;
        height: fit-content;
        width: fit-content;
        font-family: circular-light;
    }

    .preview-available-dates {
        text-transform: capitalize;
    }
}

.preview-price {
    line-height: 30px;
}

.preview-rating {
    padding-top: 1px;
    justify-content: end;
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
    grid-column: 2;
    grid-row: 1;

    svg {
        margin-right: 6.5px;
        height: 10px;
    }
}

.demo-lines {
    height: 82px;
}

.demo-lines>* {
    justify-self: end;
    background-color: #DDDDDD;
    height: 18px;
    border-radius: 5px;
}

.line-a {
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
    display: grid;
    margin-bottom: 4px;

    .sub-a1 {
        border-radius: 4px;
        width: 120px;
        height: 100%;
        background-color: #DDDDDD;
    }

    .sub-a2 {
        grid-column: 3;
        display: flex;
        justify-self: end;
        border-radius: 4px;
        width: 47px;
        height: 100%;
        background-color: #DDDDDD;
    }
}

.line-b {
    width: 85px;
    margin-bottom: 4px;
}

.line-c {
    width: 60px;
    margin-bottom: 8px;
}

.line-d {
    width: 58px;
}