.demo-list-cont {
    margin-top: 7px;
    padding: 0 80px;
    margin-bottom: 40px;
}

.demo-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 40px;
    width: 100%;
}