.homepage-stay-list-cont {
    margin-top: 7px;
    margin-bottom: 40px;
}

.homepage-stay-list {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    column-gap: 24px;
    row-gap: 40px;
    width: 100%;
}

@media screen and (min-width:1124px){
    .homepage-stay-list-cont{
        padding: 0 80px;
    }
}

@media screen and (max-width:745px) {
    .homepage-stay-list-cont{
        padding: 0 24px;
    }
}

@media screen and (max-width:1124px) and (min-width:745.1px) {
    .homepage-stay-list-cont{
        padding: 0 40px;
    }
}