.demo-cont {
    height: fit-content;
}

.demo-img {
    width: 100%;
    aspect-ratio: 20/19;
    background-color: #DDDDDD;
    border-radius: 20px;
}

.demo-lines {
    height: 120px;
    direction: rtl;
}

.demo-lines>* {
    justify-self: end;
    background-color: #DDDDDD;
    height: 18px;
    border-radius: 5px;
}

.line-a {
    width: 100%;
    background-color: transparent;
    margin-top: 10px;
    display: grid;
    margin-bottom: 4px;

    .sub-a1 {
        border-radius: 4px;
        width: 120px;
        height: 100%;
        background-color: #DDDDDD;
    }

    .sub-a2 {
        grid-column: 3;
        display: flex;
        justify-self: end;
        border-radius: 4px;
        width: 47px;
        height: 100%;
        background-color: #DDDDDD;
    }
}

.line-b {
    width: 85px;
    margin-bottom: 4px;
}

.line-c {
    width: 60px;
    margin-bottom: 8px;
}

.line-d {
    width: 58px;
}