.homepage-stay-list-cont {
    margin-top: 7px;
    padding: 0 80px;
    margin-bottom: 40px;
}

.homepage-stay-list {
    grid-template-columns: repeat(5, 1fr);
    display: grid;
    column-gap: 24px;
    row-gap: 40px;
    width: 100%;
}