.trip-settings-container {
  border: 1px solid rgb(221, 221, 221);
  height: 411px;
  border-radius: 12px;
  padding: 24px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  position: sticky;
  top: 128px;
  margin-top: 48px;
  z-index: 1;

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 10px;
    text-transform: uppercase;
  }

  h2 {
    font-size: 14px;
  }

  .guests-modal {
    z-index: 10;
    position: absolute !important;
    top: 11.3em !important;
    right: 24px !important;
    width: 230px !important;
    border-radius: 4px !important;
    box-shadow: rgb(0 0 0 / 15%) 0px 2px 6px, rgb(0 0 0 / 7%) 0px 0px 0px 1px !important;

    .modal-g-container div div span:first-of-type {
      font-size: 16px;
      line-height: 20px;
      font-weight: 900;
    }

    .modal-g-container div div span:last-of-type {
      font-size: 14px;
      line-height: 18px;
    }

    .modal-g-container div:last-child {
      display: inline-flex !important;
      align-items: center;
    }
  }
}

.txt {
  width: fit-content;
  height: fit-content;
  margin: 0 0 24px;
}

.num {
  font-size: 24px;
  font-family: circular;
}

.night {
  font-size: 16px;
}

.trips-dot {
  width: min-content !important;
  display: flex;
  padding: 0 5px;
  justify-content: center;
}

.trip-details {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1fr 1fr;
  border-radius: 8px;
  border: 1px solid rgb(176, 176, 176);
  margin-bottom: 16px;

  &>* {
    display: flex;
    flex-direction: column;
    height: 56px;
    width: 100%;
    justify-content: center;
    padding-left: 12px;

    &:nth-child(2) {
      margin-left: -1px;
      border-left: 1px solid rgb(176, 176, 176);
    }

    &:nth-child(3) {
      padding-left: 12px;
      justify-self: start;
      margin-top: -2px;
      border-top: 2px solid rgb(176, 176, 176);
      grid-row: 2;
      grid-column: 1/-1;
    }
  }

  .trip-checkin,
  .trip-checkout {
    p {
      margin: 0;
      padding: 0;
      border: none !important;
      outline: none !important;
      background-color: transparent !important;
      color: inherit !important;
      font-family: inherit !important;
      font-size: 14px !important;
      line-height: 18px !important;
      appearance: none !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      font-weight: 500;
    }

    .dp__input {
      border: 0 !important;
      padding: 0 !important;
      background: none !important;
      background-color: transparent !important;
      font-family: inherit !important;
      font-size: 14px !important;
      font-weight: 400;
      line-height: 18px !important;
      appearance: none !important;
      overflow: hidden !important;
      text-overflow: ellipsis !important;
      white-space: nowrap !important;
      color: rgb(113, 113, 113) !important;
    }
  }
}

.reserve-btn {
  width: 100%;
  color: white;
  font-size: 16px;
  height: 48px;
  background-color: #dd0f63;
  border: 0cm;
  border-radius: 8px;
  cursor: pointer;
}

.trip-txt-container {
  margin: 0;
  margin-top: 8px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 18px;
}

.price-details {
  margin-top: 24px;
}

.price-info>* {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-name {
  text-decoration: underline;
  text-decoration-thickness: 1px;
}

.total-price-container {
  height: 45px;
  margin:14px 0 0;
  padding: 24px 0 0;
  border-top: 1px solid rgb(221, 221, 221);
}

.total-price {
  font-family: circular;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-price {
  margin-top: 16px;
}

.order-container {
  border: 1px solid #00000030;
  border-radius: 13px;
  padding: 20px;
  width: 300px;
  margin: 50px auto 10px;
  box-shadow: 0 0 5px 5px #00000015;
}

.btn-container {
  position: relative;
  width: 100%;
  height: 48px;
  padding: 0 0;
  margin: 0 0;
  cursor: pointer;
  border: none;
  display: grid;
  grid-template: repeat(10, 1fr) / repeat(10, 1fr);

  @for $i from 0 to 10 {
    .cell:nth-child(10n + #{$i + 1}):hover~.content {
      --positionX: #{$i};
    }

    .cell:nth-child(n + #{10 * $i + 1}):nth-child(-n + #{10 * ($i + 1)}):hover~.content {
      --positionY: #{$i};
    }
  }
}

.cell {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.content {
  --positionX: 0;
  --positionY: 5;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;

  background-image: radial-gradient(circle at calc((0 + var(--positionX, 0)) * 10%) calc((0 + var(--positionY, 0)) * 5%),
      rgb(241, 37, 75) 0%,
      rgb(230, 30, 77) 27.5%,
      rgb(227, 28, 95) 40%,
      rgb(215, 4, 102) 57.5%,
      rgb(189, 30, 89) 75%,
      rgb(189, 30, 89) 100%);
}

.action-btn {
  padding: 0 0;
  margin: 0 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
      display: flex;
    justify-content: center;
    align-items: center;
}

.word-btn {
  padding: 0 0;
  margin: 0 0;
  color: white;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  font-family: sans-serif;
}

.rating-average.in-oreder {
  font-size: 14px;
}

.review-count.in-order {
  font-size: 14px;
  text-decoration: underline;
  color: #717171;
  font-family: circular-bold;
}

.txt-and-review-container {
  display: flex;

  &>:nth-child(2) {
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    align-self: baseline;
  }
}

.order-sum-container{
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-top: 1em;
  margin-left: 1em;

   & > :nth-child(2){
    font-size: 20px;
   }

   & > :first-child{
    position:static;
   }
}

  .order-img{
    height: 250px;
    border-radius: 8px;
    margin-left: 10em;
    margin-top: 5em;
   }

   .enjoy-greeting{
     margin-left: 6.5em;
    margin-top: 1em;
   }


.order-sum-modal {
  .modal-container {
    height: 60vh;
    max-height: fit-content;
    overflow-y: auto;
    width: 60vw;
    margin: auto;
    display: flex;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
    position: fixed;
    inset: 0;
  }
}

::v-deep .modal-content {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
  padding: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.25rem;
  background: #fff;
}


.dark-mode div::v-deep .modal-content {
  border-color: #2d3748;
  background-color: #1a202c;
}

.modal__close {
  display: flex;
  position: fixed;
  margin: 0;
  top: 6.5rem;
  left: 15.5rem;
  background-color: #ffffff3b;
}
.content{
  height: 40px !important;
}
.modal-container{
  padding-top: 0 !important;
  padding-bottom: 60px !important;
  padding-bottom: 40px !important;
    padding-left: 27px !important;
}